1) Write a code to reverse a string.

Solution:

In [ ]:
def reverse_string(s):
  return s[::-1]

string = "Hello World"
print(reverse_string(string))

dlroW olleH

2) Write a code to count the number of vowels in a string.

Solution:

In [ ]:
def count_vowels(s):
  vowels = "aeiouAEIOU"
  count = 0
  for char in s:
    if char in vowels:
      count += 1
  return count

string = "Indian community"
print(count_vowels(string))

6

3) Write a code to check if a given string is palindrome or not.

Solution:

In [ ]:
def palindrome_string(s):
  s = s.replace(" "," ").lower()
  return s == s[::-1]

strings = ["rotator", "python"]
for string in strings:
  if palindrome_string(string):
    print(f" '{string}' is a palindrome.")
  else:
    print(f" '{string}' is not a palindrome.")

 'rotator' is a palindrome.
 'python' is not a palindrome.

4) Write a code to check if two given strings are anagrams of each other.

Solution:

In [ ]:
def are_anagrams(str1_str2):
  str1, str2 = str1_str2
  return sorted(str1) == sorted(str2)

str1 = "cork"
str2 = "rock"
if are_anagrams((str1, str2)):
  print(f" '{str1}' and '{str2}' are anagrams.")
else:
  print(f" '{str1}' and'{str2}' are not anagrams")

 'cork' and 'rock' are anagrams.

5) Write a code to find all occurences in a given substring within another string.

Solution:

In [ ]:
def find_all_occurences(main_string, sub_string):
  occurences = []
  start = 0
  while True:
    start = main_string.find(sub_string, start)
    if start == -1:
      break
    occurences.append(start)
    start += 1
    if start == -1:
      break
    occurences.append(start)
    start == 1
    return occurences

main_string = "Hello Alice, Hello John"
sub_string = "Hello"
positions = find_all_occurences(main_string, sub_string)
print("occurences of substring are at positions:", positions)

occurences of substring are at positions: [0, 1]

6)Write a code to perform basic string compression using the count of repeated characters.

Solution:

In [ ]:
input_string = input("Enter a string to compress:")
compressed_string = ""
count = 1
for i in range(1, len(input_string)):
  if input_string[i] == input_string[i-1]:
    count += 1
  else:
    compressed_string += input_string[i-1] + str(count)
    count = 1
compressed_string += input_string[-1] + str(count)
print("compressed_string:", compressed_string)

Enter a string to compress:pppriiiyyyyyyaannnkka
compressed_string: p3r1i3y6a2n3k2a1

7) Write a code to determine if a string has all unique characters.

Solution:

In [ ]:
def unique_characters(s):
  char_set= set()
  for char in s:
    if char in char_set:
      return False
    char_set.add(char)
    return True

string = "abcdefgh"
print(unique_characters(string))

True

8) Write a code to convert a given string in uppercase or lowercase.

Solution:

In [ ]:
def upper_case(s):
  return s.upper()

string = "hello world"
uppercased = upper_case(string)
print(uppercased)

HELLO WORLD

9) Write a code to count the number of words in a given string.

Solution:

In [ ]:
def count_words(s):
  words = s.split()
  return len(words)

string = "I am a data science student"
print(count_words(string))

6

10) Write a code to concatenate two strings without using the "+" operator.

Solution:

In [ ]:
str1="Hello"
str2="World!"
result= " ".join([str1, str2])
print(result)

Hello World!

11) Write a code to remove all occurences of specific element from the given list.

Solution:

In [ ]:
def remove_element(list, element):
    return [x for x in list if x != element]

my_list = [1,2,3,4,5,6,7,5,9]
element_to_remove = 5
result = remove_element(my_list, element_to_remove)
print(result)

[1, 2, 3, 4, 6, 7, 9]

12) Implement a code to find the second largest number in a given list of integers.

Solution:

In [ ]:
def find_second_largest(lst):
    unique_lst = list(set(lst))
    if len(unique_lst) < 2:
        return None
    unique_lst.sort(reverse=True)
    return unique_lst[1]

my_list = [12,88,45,32,18,54]
result = find_second_largest(my_list)
print(result)

54

13) Create a code to count the all occurences of each element in a list and return a dictionary with elements as keys and their counts as values.

Solution:

In [ ]:
def count_occurences(lst):
    count_dict = {}
    for element in lst:
        if element in count_dict:
            count_dict[element] += 1
        else:
            count_dict[element] = 1
    return count_dict

my_list = [1,1,3,3,3,3,6,6,6, 'Alice', 'Jhon', 'Alice']
print(count_occurences(my_list))

{1: 2, 3: 4, 6: 3, 'Alice': 2, 'Jhon': 1}

14) Write a code to reverse a list in-place without using any in-built reverse functions.

Solution:

In [ ]:
def reverse_list(lst):
  start = 0
  end = len(lst) - 1
  while start < end:
    lst[start], lst[end] = lst[end], lst[start]
    start += 1
    end -= 1

sample_list = [1,2,3,4,5,6,7,8,9]
reverse_list(sample_list)
print(sample_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

15) Implement a code to find and remove the duplicates from a list while preserving the original order of elements.

Solution:

In [ ]:
def remove_duplicates(lst):
  seen = set()
  result = []
  for item in lst:
    if item not in seen:
        result.append(item)
        seen.add(item)
  return result

sample_list = [1,2,2,3,3,4,4,4,4,5,5]
unique_list = remove_duplicates(sample_list)
print(unique_list)

[1, 2, 3, 4, 5]

16) Create a code to check if a given list is sorted (either in ascending or descending order) or not.

Solution:

In [ ]:
def sorted_list(lst):
  ascending = all(lst[i] <= lst[i+1] for i in range(len(lst) -1))
  descending = all(lst[i] >= lst[i+1] for i in range(len(lst) -1))

  if ascending:
    return "The List is sorted in ascending order"
  elif descending:
    return "The List is sorted in descending order"
  else:
     return "The List is not sorted"

sample_list1 = [1,2,3,4,5,6,7,8,9]
sample_list2 = [9,8,7,6,5,4,3,2,1]
sample_list3 = [5,3,6,1,2,8,9,4,7]
print(sorted_list(sample_list1))
print(sorted_list(sample_list2))
print(sorted_list(sample_list3))

The List is sorted in ascending order
The List is sorted in descending order
The List is not sorted

17) Write a code to merge two sorted lists into a single sorted list.

Solution:

In [ ]:
def sorted_list(list1, list2):
  merged_list = list1+ list2
  merged_list.sort()
  return merged_list

list1 =[1,3,5,7,9]
list2 = [2,4,6,8,10]
print(sorted_list(list1, list2))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

18) Implement a code to find the intersection of two given strings.

Solution:

In [ ]:
def intersecting_string(str1, str2):
  common_chars = set(str1) & set(str2)
  return ' '.join(common_chars)

str1 = "indian"
str2 = "italian"
print(intersecting_string(str1, str2))

i a n

19) Create a code to find the union of two strings without duplicates.

Solution:

In [ ]:
def union_strings(str1, str2):
  unique_chars = set(str1) | set(str2)
  return ' '.join(unique_chars)

str1 = "indian"
str2 = "italian"
print(union_strings(str1, str2))

i n l d a t

20) Write a code to shuffle a given list randomly without using any built-in shuffle functions.

Solution:

In [ ]:
import random

def shuffle_list(lst):
  n = len(lst)
  for i in range(n-1, 0, -1):
    j = random.randint(0,1)
    lst[i], lst[j] = lst[j], lst[i]
  return lst

my_list = [1,2,3,4,5,6,7,8,9]
print(shuffle_list(my_list))

[3, 4, 5, 8, 6, 7, 2, 9, 1]

21) Write a code that takes two tuples as input and returns a new tuple that containing elements that are common to both input tuples.

Solution:

In [ ]:
def common_elements(tuple1, tuple2):
  common_set = set(tuple1) & set(tuple2)
  return tuple(common_set)

tuple1 = (1,2,3,4,5,6, 'john', 'Ram')
tuple2 = (4,5,6,7,8,9, 'Ram', 'Sham')
result = (common_elements(tuple1, tuple2))
print(result)

('Ram', 4, 5, 6)

22) Write a code that prompts the user to enter two sets of integers separated by commas. Then print the intersection of these two sets.

Solution:

In [ ]:
def intersection_sets(set1, set2):
  different_sets = set1 & set2
  return(different_sets)

set1 = {1,2,3,4,5,6,7,8}
set2 = {4,5,6,7,8,9,10}
print(set1.intersection(set2))

{4, 5, 6, 7, 8}

23) Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

Solution:

In [ ]:
def concatenate_tuples(tuple1, tuple2):
  return tuple1 + tuple2
tuple1 = (1,2,3,4,5)
tuple2 = (6,7,8,9,10)
print(concatenate_tuples(tuple1, tuple2))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

24) Develop a code that prompts the user to input two sets of integers. Then, prints the elements that are present in the first set and not in the second set.

Solution:

In [ ]:
first_set = set(input("Enter the first set of integers separated by commas:").split(','))
second_set = set(input("Enter the second set of integers separated by commas:").split(','))
difference_list = first_set - second_set
print("Elements present in the first but not in the second set:", difference_list)

Enter the first set of integers separated by commas:3,4,5,6,7,8,9
Enter the second set of integers separated by commas:1,2,3,4,5,6,7,8
Elements present in the first but not in the second set: {'9'}

25) Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within a specified range of indices.

Solution:

In [ ]:
def new_tuple(tuple, start_index, end_index):
  return tuple[start_index: end_index]

tuple = (1,2,3,4,5,6,7,8,9)
start_index = 2
end_index = 6
print(new_tuple(tuple, start_index, end_index))

(3, 4, 5, 6)

26) Write a code that prompts the user to input two sets of characters. Then, print the union of these sets.

Solution:

In [ ]:
char1 = set(input("Enter the first set of characters separated by commas:").split(','))
char2 = set(input("Enter the second set of characters separated by commas:").split(','))
union_set = char1 | char2
print("union of these sets:", union_set)

Enter the first set of characters separated by commas:i,n,d,i,a,n
Enter the second set of characters separated by commas:a,m,e,r,i,c,a,n
union of these sets: {'c', 'd', 'i', 'r', 'e', 'm', 'n', 'a'}

27) Develop a code that takes tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

Solution:

In [ ]:
def max_min_tuple(tuple):
  max_value = max(tuple)
  min_value = min(tuple)
  return max_value, min_value

tuple = (19,27,98,67,109,76)
print(max_min_tuple(tuple))

(109, 19)

28) Create a code to define two sets of integers. Then print the union, intersection and difference of these two sets.

Solution:

In [ ]:
set1 =  {12,14,16,18,20}
set2 = {14,16,18,20,22}

union = set1 | set2
print("union of set1 and set2:",union)
intersection = set1 & set2
print("intersection of set1 and set2:", intersection)
difference = set1 - set2
print("difference of set1 and set2:", difference)

union of set1 and set2: {12, 14, 16, 18, 20, 22}
intersection of set1 and set2: {16, 18, 20, 14}
difference of set1 and set2: {12}

29) Write a code that takes a tuple and an element as input. The function should return the count of occurences of the given element in the tuple.

Solution:

In [ ]:
def count_occurences(input_tuple, element):
  return input_tuple.count(element)
my_tuple = (90,87,75,12,34,90,53,90,41)
element = 90
count = count_occurences(my_tuple, element)
print(f"The element {element} occurs {count} time(s) in the tuple")

The element 90 occurs 3 time(s) in the tuple

30) Develop a code that prompts the user to input two sets of strings. then, print the symmetric difference of these sets.

Solution:

In [ ]:
set1 = set(input("Enter the first set of strings separated by commas:",).split(','))
set2 = set(input("Enter the second set of strings separated by commas:").split(','))
symmetric_difference = set1 ^ set2
print("symmetric difference of these two strings:", symmetric_difference)

Enter the first set of strings separated by commas:'Run', 'walk', 'Exercise', 'Cardio'
Enter the second set of strings separated by commas:'Sit', 'Stretch', 'Exercise', 'squates'
symmetric difference of these two strings: {"'Run'", " 'Cardio'", " 'Stretch'", " 'walk'", "'Sit'", " 'squates'"}

31) Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are frequancies of those words in the input list.

Solution:

In [ ]:
lst = ['apple', 'banana', 'orange', 'apple', 'banana', 'apple', 'kiwi', 'pomegranate', 'apple', 'kiwi']
word_frequancy = {}
for word in lst:
  if word in word_frequancy:
    word_frequancy[word] += 1
  else:
    word_frequancy[word] = 1
print(word_frequancy)

{'apple': 4, 'banana': 2, 'orange': 1, 'kiwi': 2, 'pomegranate': 1}

32) Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, then values should be added together.

Solution:

In [ ]:
dict1 = {'a':2, 'b':5, 'c':8}
dict2 = {'b':4, 'c':6, 'd':9}
merge_dict = {}
for key, value in dict1.items():
  if key in dict2:
    merge_dict[key] = value + dict2[key]
  else:
    merge_dict[key] = value
for key, value in dict2.items():
  if key not in merge_dict:
    merge_dict[key] = value
print(merge_dict)

{'a': 2, 'b': 9, 'c': 14, 'd': 9}

33) Write a code to access the value in a nested dictionary. The function should take the dictionary and the list of keys as input and return the corresponding value. If any of the key does not exist in the dictionary, the function should return none.

Solution:

In [ ]:
def nested_value(dictionary, keys):
  current_value = dictionary
  for key in keys:
    if key in current_value:
      current_value = current_value[key]
    else:
      return None
    return current_value

nested_dict = { 'x': {'y':{'z': 100}}}
keys = ['x', 'y', 'z']
print(nested_value(nested_dict, keys))
keys = ['a', 'b', 'c']
print(nested_value(nested_dict, keys))

{'y': {'z': 100}}
None








34) Write a code that takes dictionary as input and return a sorted version of it based on the values. You can choose whether to choose in the ascending or descending order.

Solution:

In [ ]:
def sorted_dictionary(input_dict, ascending = True):
  sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending))
  return sorted_dict

my_dict = {"Ram":2006, "Sham": 2010, "Mohan":2000, "sohan":2001}
sorted_list_asc = sorted_dictionary(my_dict, True)
print(sorted_list_asc)
sorted_list_desc = sorted_dictionary(my_dict, False)
print(my_dict)

{'Mohan': 2000, 'sohan': 2001, 'Ram': 2006, 'Sham': 2010}
{'Ram': 2006, 'Sham': 2010, 'Mohan': 2000, 'sohan': 2001}

35) Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by sorting the keys as a list in the inverted dictionary.

Solution:

In [ ]:
def invert_dict_sorting(input_dict):
  inverted_dict = {}
  for key, value in input_dict.items():
    if value in inverted_dict:
      inverted_dict[value].append(key)
    else:
      inverted_dict[value] =  [key]
  for value in inverted_dict:
    inverted_dict[value].sort()
  return inverted_dict

my_dict = {"Pooja":99, "Priyanka":96, "Deepak":95, "Manas":88, "Vyasha":99, "Aadhyavi":97, "Anjuman":97}
inverted_dict = invert_dict_sorting(my_dict)
print("Inverted Dictionary with sorted keys:", inverted_dict)

Inverted Dictionary with sorted keys: {99: ['Pooja', 'Vyasha'], 96: ['Priyanka'], 95: ['Deepak'], 88: ['Manas'], 97: ['Aadhyavi', 'Anjuman']}